.HERO{
    border: 1px solid;
    width:700px;
    height:520px;
    margin-left:200px;
     background-color: blueviolet;
}
.html{
    color:black;
}
.iBOSHI{
     margin-left: 200px;
     line-height: 30px;
.hero{
    margin-left: 6px;
}
.hp{
    margin-left:46px;
}
.hero1{
    margin-left: 29px;
}
.hero2{
    margin-left: 10px;
}
.-boshi{
margin-left: 250px;
margin-top:20px;
margin-bottom:20px;
}
.hero3{
margin-left:170px;
margin-top:20px;
 margin-bottom: 20px;
}
.hero4{
    margin-left: 330px;
    margin-top:20px;
    margin-bottom:20px ;
}
.hero5{
    margin-left:100px;
    margin-top:20px;
    margin-bottom:20px;
}
.hero6{
    margin-left:250px;
    margin-top:-40px;
}
.hero7{
    margin-left:400px;
    margin-top:-20px;
}
.hero8{
    margin-left:250px;
    margin-top: 20px;
}
.hero9{
    margin-left:250px;
    margin-top:20px;
}
.hero11{
    margin-left:15px;
}